.home_banner_area {
    max-height: 30%;
}
.home_banner_area .container {
  background: url(../../assets/banner/banner2.png) no-repeat center bottom;
  background-size: cover;
  position: relative;
  z-index: 1;
  min-height: 500px;
  padding: 0;
} 
@media (max-width: 767px) {
  .home_banner_area {
    background-position: initial;
  }
}
.home_banner_area .banner_inner {
  position: relative;
  width: 100%;
  min-height: 500px;
}
.home_banner_area .banner_inner .banner_content .sub {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 10px;
}
.home_banner_area .banner_inner .banner_content h3 {
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.button-wrapper button{
    margin: 10px 20px ;
    padding: 10px 20px;
    width: 20%;
    border-radius: 5px;
    border: #ffffff;
    color: black;
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(14, 253, 14);
}
.home_banner_area .banner_inner .banner_content h3 {
    font-size: 52px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 15px;
  color: #ffffff;
}
.home_banner_area .bannerBut{
  padding-top: 10% ;
}

.home_banner_area .banner_inner .banner_content h3 span {
  color: white;
}
.home_banner_area .banner_inner .banner_content h4 {
  font-size: 18px;
  font-family: "Heebo", sans-serif;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 0px;
}
.home_banner_area .banner_inner .banner_content .white_bg_btn {
  margin-top: 45px;
  line-height: 50px;
  border-radius: 5px;
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}
.home_banner_area .banner_inner .banner_content .halemet_img {
  text-align: right;
}