.Logo {
  background-image: url(../../assets/logo.png);
}
.header_area {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  transition: background 0.4s, all 0.3s linear;
}
.header_area .main_menu {
  background: #ffffff;
}
.header_area .navbar {
  padding: 0px;
  border: 0px;
  border-radius: 0px;
  border-top: 1px solid rgba(221, 221, 221, 0.38);
}
.header_area .navbar .right_nav .nav-item {
  margin: 0 !important;
}
.header_area .navbar-nav .navbar .nav-item .icons {
  font-size: 30px;
  line-height: 80px;
  display: inline-block;
  color: #4a4a4a;
  margin-left: 20px;
  text-align: center;
  transition: all 300ms linear 0s;
}
.mainmenu .header_area .navbar .navlink .icons {
  font-size: 30px;
  line-height: 80px;
  display: inline-block;
  color: #4a4a4a;
  margin-left: 20px;
  text-align: center;
  transition: all 300ms linear 0s;
}

.header_area .navbar .icons:hover {
  color: #71cd14;
}
@media (max-width: 992px) {
  .header_area .navbar .nav {
    float: left;
  }
}
.header_area .navbar .nav .nav-item {
  margin-right: 70px;
}
.header_area .navbar .nav .nav-item .nav-link {
  font: 400 13px/80px "Heebo", sans-serif;
  text-transform: uppercase;
  color: #2a2a2a;
  padding: 0px;
  display: inline-block;
  font-weight: 700;
}
.header_area .navbar .nav .nav-item .nav-link:after {
  display: none;
}
.header_area .navbar .nav .nav-item:hover .nav-link,
.header_area .navbar .nav .nav-item.active .nav-link {
  color:#1435c3 ;
}
.header_area .navbar .nav .nav-item.submenu {
  position: relative;
}
.header_area .navbar .nav .nav-item.submenu ul {
  border: none;
  padding: 0px;
  border-radius: 0px;
  box-shadow: none;
  margin: 0px;
  background: #fff;
}
@media (min-width: 992px) {
  .header_area .navbar .nav .nav-item.submenu ul {
    position: absolute;
    top: 120%;
    left: 0px;
    min-width: 200px;
    text-align: left;
    opacity: 0;
    transition: all 300ms ease-in;
    visibility: hidden;
    display: block;
    border: none;
    padding: 0px;
    border-radius: 0px;
  }
}
.header_area .navbar .nav .nav-item.submenu ul:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #eeeeee transparent transparent transparent;
  position: absolute;
  right: 24px;
  top: 45px;
  z-index: 3;
  opacity: 0;
  transition: all 400ms linear;
}
.header_area .navbar .nav .nav-item.submenu ul .nav-item {
  display: block;
  float: none;
  margin-right: 0px;
  border-bottom: 1px solid #ededed;
  margin-left: 0px;
  transition: all 0.4s linear;
}
.header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
  line-height: 45px;
  color: #2a2a2a;
  padding: 0px 30px;
  transition: all 150ms linear;
  display: block;
  margin-right: 0px;
}
.header_area .navbar .nav .nav-item.submenu ul .nav-item:last-child {
  border-bottom: none;
}
.header_area .navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link {
  background: #e0e2e9;
  color: #1435c3;
}
@media (min-width: 992px) {
  .header_area .navbar .nav .nav-item.submenu:hover ul {
    visibility: visible;
    opacity: 1;
    top: 100%;
  }
}
.header_area .navbar .nav .nav-item.submenu:hover ul .nav-item {
  margin-top: 0px;
}
.header_area .navbar .nav .nav-item:last-child {
  margin-right: 0px;
}
.nav.navbar-nav {
  justify-content: flex-end;
}
.header_area .navbar .nav.navbar-nav.navbar-right li {
  margin-left: 25px;
  margin-right: 0px;
}

.header_area .navbar .nav.navbar-nav.navbar-right li:first-child {
  margin-left: 35px;
}
@media (max-width: 992px) {
  .header_area .navbar .nav.navbar-nav.navbar-right {
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 20px;
  }
  .header_area .navbar .nav.navbar-nav.navbar-right .icons {
    background: #e4e4e4;
    margin-right: 2px;
    line-height: 50px;
    min-width: 50px;
    min-height: 50px;
  }
}
.icons {
  font: 400 24px/80px "Heebo", sans-serif;
  text-transform: uppercase;
  color: #2a2a2a;
  padding: 0px;
  display: inline-block;
  font-weight: 700;
  margin-right: 10px;
}
.header_area .navbar .search {
  font-size: 14px;
  line-height: 80px;
  display: inline-block;
  color: #2a2a2a;
}
.header_area .navbar .search i {
  font-weight: 600;
}
.header_area .navbar .cart {
  color: #2a2a2a;
  font-size: 14px;
  line-height: 80px;
}
.header_area .navbar .cart i {
  font-weight: 600;
}
.header_area.navbar_fixed .main_menu {
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  transform: translateY(70px);
  transition: transform 500ms ease, background 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
}
.header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
  line-height: 70px;
}

.top_menu {
  background: #f6f6f6;
  height: 30px;
  line-height: 16px;
}
.top_menu .float-left {
  padding: 7px 0;
}
.top_menu .float-left p {
  display: inline-block;
  line-height: 15px;
  color: #4a4a4a;
  font-size: 11px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0px;
  text-transform: uppercase;
  border-right: 1px solid #797979;
  padding: 0px 19px;
}
.top_menu .float-left p:last-child {
  border-right: 0px;
}
.top_menu .right_side {
  margin-bottom: 0px;
  padding: 7px 0;
}
.top_menu .right_side li {
  display: inline-block;
}
.top_menu .right_side li:last-child a {
  padding-right: 15px;
  border-right: 0px;
}
.top_menu .right_side li a {
  font-size: 11px;
  color: #4a4a4a;
  display: inline-block;
  border-right: 1px solid #797979;
  transition: all 300ms linear 0s;
  text-transform: uppercase;
  padding: 0px 19px;
}
.top_menu .right_side li:hover a {
  color: #0d5470;
}
.top_menu .ac_btn {
  line-height: 28px;
  border: 1px solid #eeeeee;
  display: inline-block;
  background: #f6f6f6;
  padding: 0px 19px;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #797979;
  transition: all 300ms linear 0s;
  margin-right: 1px;
  margin-top: 8px;
}
.top_menu .ac_btn:hover {
  background: #0d5470;
  color: #fff;
  border-color: #0d5470;
}
.top_menu .dn_btn {
  line-height: 28px;
  border: 1px solid #71cd14;
  display: inline-block;
  background: #71cd14;
  padding: 0px 19px;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #fff;
  transition: all 300ms linear 0s;
  margin-top: 8px;
  border-radius: 3px;
}
.top_menu .dn_btn:hover {
  background: transparent;
  color: #2a2a2a;
  border-color: #71cd14;
}
.top_menu .lan_pack {
  height: 30px;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  line-height: 28px;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding-left: 19px;
  padding-right: 36px;
  color: #797979;
  background: #f6f6f6;
  margin-right: 5px;
  margin-top: 8px;
}
.top_menu .lan_pack .current {
  color: #797979;
}
.top_menu .lan_pack:after {
  content: "\f0d7";
  border: none !important;
  font: normal normal normal 12px/1 FontAwesome;
  transform: rotate(0deg);
  height: auto;
  margin-top: -6px;
  right: 20px;
}
.nav-sub-blue {
  background-color: #57add2;
}
/* drop down hover */
.dropbtn {
  background-color: #0787b9;
  color: white;
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 5px;
}
.dropbtn span{ 
  padding-left: 10px;
}
.sub_menu .dropdown{
  padding:5px 0px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-decoration: none;
  list-style-type: none;
  left:10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  list-style-type: none;
  line-height: 20px;
}

.dropdown-content a:hover {
  background-color: #e0e2e9;
  color: #1435c3;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #0d5470;
}
.custom-nav:hover {
  background-color:#0d5470 ;
  color: white;
}
.custom-nav {
  background-color: #0787b9;
  color: white;
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 5px;
  border-radius: 5px;
}

.sub_menu .nav-round{
  border-radius: 10px;
}
.sub_menu .search-group{
  position: absolute;
  right:10px;
  top:3px;
  width: 30%;
}
.sub_menu .search-group .search-form{
  border: 1px solid black;
  border-radius: 5px;
}
.sub_menu .search-group .form-control{
  background-color: #57add2;
  font-size: 15px;
  color: white;
  border: 0;
}
.sub_menu .search-group input::placeholder{
  color: white;
  
}
.sub_menu .search-group .searchbtn{
  margin: 0;
  margin-right: 20px;
  padding: 0;
}